In [1]:
import pandas as pd



from constants import okr_excel_path, researcher_info_excel_path
# from constants import sheet_name
# from constants import okr_sheet_name

from utils import get_df_roadshow
from utils import print_na_rate

In [2]:
# # Get the Excel file
# xls = pd.ExcelFile(excel_path)

# # Get sheet names
# sheet_names = xls.sheet_names
# print(sheet_names)  # e.g., ['Sheet1', 'Sheet2', ...]

# # Close the Excel file
# xls.close()

In [3]:
df_okr = pd.read_excel(okr_excel_path, sheet_name='路演')

In [4]:
df_okr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2728 entries, 0 to 2727
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   序号           2728 non-null   int64
 1   日期           2728 non-null   object
 2   开始时间         2728 non-null   object
 3   结束时间         2728 non-null   object
 4   服务事项         2728 non-null   object
 5   研究员          2726 non-null   object
 6   研究员.1        159 non-null    object
 7   研究员.2        4 non-null      object
 8   研究员.3        1 non-null      object
 9   研究员.4        0 non-null      float64
 10  研究员.5        0 non-null      float64
 11  研究员.6        0 non-null      float64
 12  所属团队         2497 non-null   object
 13  客户机构         2727 non-null   object
 14  客户分级         2675 non-null   object
 15  客户区域         2674 non-null   object
 16  对口销售         2674 non-null   object
 17  参与人员         2726 non-null   object
 18  主题           2726 non-null   object
 19  备注           302 non-null    object
 20  创建人          2726 non-null   object
 21  Unnamed: 21  2726 non-null   object
 22  Unnamed: 22  3 non-null      object
dtypes: float64(3), int64(1), object(19)
memory usage: 490.3+ KB

In [5]:
df_researcher_info = pd.read_excel(researcher_info_excel_path, usecols='A:C')
df_researcher_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   姓名      153 non-null    object
 1   研究团队    153 non-null    object
 2   分析师等级   153 non-null    object
dtypes: object(3)
memory usage: 3.7+ KB

In [6]:
df_researcher_info.head(10)

    姓名 研究团队  分析师等级
0   方竞   电子  首席分析师
1   李萌   电子  资深分析师
2  李少青   电子  资深分析师
3  童秋涛   电子  资深分析师
4  吕天赐   电子  助理分析师
5  李伯语   电子  助理分析师
6   王琪   电子  助理分析师
7  宋晓东   电子  助理分析师
8  张文雨   电子  助理分析师
9  周君芝   宏观  首席分析师

In [7]:
df_roadshow = get_df_roadshow(df_okr)

In [8]:
df_roadshow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2890 entries, 0 to 2889
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   序号      2890 non-null   int64
 1   服务事项    2890 non-null   object
 2   客户机构    2890 non-null   object
 3   客户分级    2890 non-null   object
 4   客户区域    2890 non-null   object
 5   所属团队    2659 non-null   object
 6   研究员     2890 non-null   object
dtypes: int64(1), object(6)
memory usage: 158.2+ KB

In [9]:
df_roadshow.head()

   序号           服务事项          客户机构 客户分级 客户区域  所属团队  研究员
0   1        路演-线上路演  安联保险资产管理有限公司    A   北京   计算机  郭新宇
1   2        路演-餐叙路演          安信基金   3A   广深   计算机   刘雄
2   3        路演-线下路演          安信基金   3A   广深    医药  宋丽莹
3   4        路演-线下路演          安信基金   3A   广深  能源开采   周泰
4   5  路演-反路演(董秘/IR)          安信基金   3A   广深    电新  邓永康

In [10]:
# export to excel sheet roadshow
df_roadshow.to_excel('roadshow.xlsx', sheet_name='roadshow', index=False)

In [11]:
# show rows where xuhao = 1659
df_roadshow[df_roadshow['序号'] == 1659]

        序号     服务事项  客户机构 客户分级 客户区域 所属团队  研究员
1768  1659  路演-线下路演  国泰基金   4A   上海   策略  牟一凌

In [12]:
print_na_rate(df_roadshow)

The na rate of the DataFrame is:
序号      0.000000
服务事项    0.000000
客户机构    0.000000
客户分级    0.000000
客户区域    0.000000
所属团队    0.079931
研究员     0.000000
dtype: float64

In [13]:
# map researcher name in df_roadshow to researcher id in df_researcher_info
# add '研究团队' to df_roadshow based on the mapped name
# df_roadshow['研究团队'] = df_roadshow['研究员'].map(df_researcher_info.set_index('姓名')['研究团队'])

In [14]:
print_na_rate(df_roadshow)

The na rate of the DataFrame is:
序号      0.000000
服务事项    0.000000
客户机构    0.000000
客户分级    0.000000
客户区域    0.000000
所属团队    0.079931
研究员     0.000000
dtype: float64

In [15]:
# print the rows that '客户分级' is null
df_roadshow[df_roadshow['客户分级'].isnull()]

Empty DataFrame
Columns: [序号, 服务事项, 客户机构, 客户分级, 客户区域, 所属团队, 研究员]
Index: []

In [16]:
# pront the rows that research team is null
df_roadshow[df_roadshow['所属团队'].isnull()]

        序号             服务事项      客户机构   客户分级   客户区域 所属团队   研究员
15      16          路演-专家路演  博时基金（深圳）     5A     广深  NaN  无研究员
43      39          路演-专家路演      大成基金     4A     广深  NaN   周慧敏
48      43    路演-反路演(董秘/IR)      大家资产     4A     北京  NaN  无研究员
54      48    路演-反路演(董秘/IR)     东方红资管     4A     上海  NaN  无研究员
59      53  路演-反路演(董事长/总经理)     东方红资管     4A     上海  NaN  无研究员
...    ...              ...       ...    ...    ...  ...   ...
2798  2640  路演-反路演(董事长/总经理)    招商（上海）     4A     上海  NaN  无研究员
2803  2645          路演-线下路演    招商（上海）     4A     上海  NaN   胡又文
2846  2688          路演-餐叙路演     小范围路演  小范围路演  小范围路演  NaN   胡又文
2858  2698          路演-餐叙路演      泰康公募     5A     北京  NaN   张航旗
2859  2699  路演-反路演(董事长/总经理)      泰康公募     5A     北京  NaN   张航旗

[231 rows x 7 columns]

In [17]:
# print rows that 'xuhao' is duplicated
df_dup = df_roadshow[df_roadshow['序号'].duplicated()]

In [18]:
df_dup.info()

<class 'pandas.core.frame.DataFrame'>
Index: 164 entries, 18 to 2875
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   序号      164 non-null    int64
 1   服务事项    164 non-null    object
 2   客户机构    164 non-null    object
 3   客户分级    164 non-null    object
 4   客户区域    164 non-null    object
 5   所属团队    164 non-null    object
 6   研究员     164 non-null    object
dtypes: int64(1), object(6)
memory usage: 10.2+ KB

In [19]:
df_dup.head()

    序号           服务事项      客户机构 客户分级 客户区域 所属团队  研究员
18  18        路演-专家路演  博时基金（深圳）   5A   广深   通信   范宇
19  18        路演-专家路演  博时基金（深圳）   5A   广深   通信  于一铭
29  27  路演-反路演(董秘/IR)      财通基金   4A   上海   通信  于一铭
33  30        路演-线下路演      创金合信   3A   广深   金属  孙二春
38  34        路演-餐叙路演      大成基金   4A   广深   电新  邓永康